.sli{
    display:none;    
}
.sli1{
    display:none;    
}
.sli1maka{
    display:none; 
    float: left;  
    height: 1px; 
}
.daohan{
    position: relative;
}
.daohan1{
    position: relative;
}

